footer {
  background-color: #fff;
  line-height: 46px;
  font-size: 16px;
  .navbar-full {
    z-index: 9;
  }
  .nav-item {
    a {
      color: $gray-light;
    }
  }
}
.bg-inverse {
  background-color: $bgcolor !important;
  color: rgba(255, 255, 255, 0.5);
}
