aside.sidebar {
  padding: 20px;
  font-size: 16px;
  .widget {
    padding: 10px 0;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.entry-summary, .sidebar {
  color: #8D8D8E;
  display: block;
  transition: all ease-in-out .15s;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  header {
    padding: 20px;
    h2 {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .table-container {
    height: 240px;
  }
}
