body {
  line-height: 1.5;
  font-size: 16px;
  color: $gray;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
  clear: both;
  font-weight: bold;
  color: $gray-dark;
}
h4, h5, h6, .h4, .h5, .h6 {
  color: $gray;
}
h1 {
  @media screen and (max-width: 576px) {
    font-size: 24px !important;
  }
}
code {
  color: #B96A34;
}
h2, .h2 {
  border-bottom: 2px solid $gray-lighter;
  margin-bottom: 20px;
  padding-top: 10px;
  color: $gray-darker;
  a {
    color: $gray-dark;
  }
  a:hover {
    color: darken($gray-dark, 10%);
  }
}

a {
  color: $brand-success;
  -webkit-transition: all .6s;
  transition: all .6s;
}
a:hover {
  color: darken($brand-success, 10%);
  text-decoration: none;
}
.skiplinks {
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  @media screen and (max-width: 450px) {
    display: block;
    margin-left: 0;
    padding-top: 10px;
  }
}
.bottomlinks {
  border-top: 2px solid $gray-light;
  padding-top: 5px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  a {
    color: $brand-success;
  }
  .linksprev {
  }
  .linkseparator {
    display: none;
  }
  .linknext {
    float: right;
  }
}
.titleinfo {
  color: $gray;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.spacer {
  margin-top: 40px;
}
.btn-success:hover {
  background-color: darken($brand-success, 10%);
}
.btn {
  -webkit-transition: all .6s;
  transition: all .6s;
  border-width: 0;
}
#login h1 a, .login h1 a {
  background-size: 320px;
  width: 320px;
}
main.main {
  @media (min-width: 992px) {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

#mycontent {
  .page-header {
    display: none;
  }
}
.big-dropdown {
  color: $brand-info;
  float: left;
  font-size: 60px;
  line-height: .9;
  padding-top: 3px;
  padding-right: 8px;
}
#mycontent {
  a {
    //color: $brand-successly;
  }
  a:hover {
    //color: darken($brand-successly, 10%);
  }
  a.btn {
    //color: #ffffff;
  }
}
.wrap-wrap {
  background-color: #fff;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}
.content {
  padding-top: 40px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	//padding-top: 25px;
	height: 0;
  margin-bottom: 40px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.thumbwrapper {
  padding-left: 0;
  padding-right: 0;
}
.skipthumb {
  width: 100%;
  overflow: hidden;
  height: 200px;
  background-size: cover;
  background-position: center center;
}
#pmpro_levels_table {
  width: 100%;
  line-height: 2rem;
  margin-bottom: 30px;
  tr:nth-child(2) {
    display: none;
  }
}
.btn-primary {
  background-color: $btn-success;
}
.btn-primary:hover {
  background-color: darken($btn-success, 10%);
}
.btn-prima {
  background-color: $btn-primary;
  color: #fff;
}
.btn-prima:hover {
  background-color: darken($btn-primary, 10%);
}

//Forms
.contact {
  background-color: $gray-darker;
  .page-header {
    .btn {
      display: none;
    }
  }
}
.modal .modal-content, .contact {
  form {
    //margin-top: 30px;
  }
  .main {
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 20px;
    padding: 30px;
  }
  .main, .modal-body {
    input, textarea {
      border-radius: 4px;
      padding: 12px;
    }
  }
  .fscf-input-text {
    margin: 10px 0;
    width: 100%;
  }
  .fscf-input-textarea {
    width: 100%;
    margin: 10px 0;
    border-width: 2px;
    border-style: inset;
  }
}
.home .landingtitle .page-header {
    h1 {
      font-size: 32px;
    }
}
.register {
  .wc-shortcodes-accordion {
    margin-top: 0 !important;
  }
  .wc-shortcodes-accordion-trigger {
    border: 0 0 1px 0;
    border-bottom: 1px solid $gray-lighter;
    a {
      padding-left: 20px !important;
      padding-bottom: 0 !important;
    }
    a:before {
      width: 10px !important;
    }
  }
  .wc-shortcodes-accordion-content {
    border-bottom: 1px solid $gray-lighter !important;
  }
  .nav-below {
    display: none;
  }
}
.membership-checkout {
  #pmpro_user_fields {
    .pmpro_thead-msg {
      display: none;
    }
  }
}
.membership-confirmation {
  font-size: .9em;
}
form.pmpro_form {
  .skipper-pmpro-wrap {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: 1rem -1rem;
    border: solid $brand-danger;
    .table th {
      border-top: none;
    }
  }
  .pmpro_asterisk abbr {
    border-bottom: none !important;
    text-decoration: none !important;
    color: $brand-danger;
  }
  select {
    max-width: none;
    width: 100%;
  }
  .pmpro_thead-name {
    float: none;
    width: auto;
  }
  .pmpro_thead-msg {
    width: auto;
    font-size: .8em;
  }
  .pmpro_submit {
    float: none;
  }
  .pmpro_payment-expiration {
    .pmpro_asterisk:nth-of-type(2) {
      display: none;
    }
  }
  .other_discount_code {
    display: none;
  }
  #other_discount_code_p {
    display: none;
  }
  #other_discount_code_tr {
    display: none;
  }
  .row {
    margin-top: 0;
    margin-bottom: 0;
  }
  label {
    font-size: 16px;
    margin: 3px 5px 0 0;
    text-align: left;
    width: auto;
    float: none;
  }
  .discountWrap {
    margin-top: 0;
    margin-bottom: 0;
    .col-xs-6 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .col-xs-6:nth-of-type(1) {
      padding-left: 0;
    }
  }
  .wrapExpiration {
    margin-top: 0;
    margin-bottom: 0;
    .innerWrap {
      margin-top: 0;
      margin-bottom: 0;
    }
    .col-xs-6:nth-of-type(1) {
      padding-left: 0;
      padding-right: 5px;
    }
    .col-xs-6:nth-of-type(2) {
      padding-right: 0;
      padding-left: 5px;
    }
    .expirationGroup {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
  .pmpro_payment-cvv small {
    font-style: italic;
    font-size: 12px;
  }
  .pmpro_error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
    border-color: #d9534f;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .625rem;
    -webkit-background-size: 1.25rem 1.25rem;
    background-size: 1.25rem 1.25rem
  }
  .pmpro_submit {
    padding: 0 25px;
    @media (min-width: 768px) { margin-left: 215px };
    @media (min-width: 992px) { margin-left: 245px };
    @media (min-width: 1200px) { margin-left: 315px };
    span {
      float: none;
    }
  }
}
@media (max-width: 768px) {
  form.pmpro_form input[type=text]#other_discount_code, form.pmpro_form input[type=text]#CVV, form.pmpro_form input[type=text]#discount_code {
    width: 100%;
  }
}
