// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//$brand-primary:         #27ae60;

$black: #000000;
$bgcolor: #202020;
$gray-base: #111111;
$gray-darker: #313131;
$gray-dark: #515151;
$gray: #7A7A7A;
$gray-light: #9A9A9A;
$gray-lighter: #B1B1B1;
$gray-lightest: #EAEAEA;

$brand-primary: $gray-lighter;
//$brand-success: #75D277;
$brand-success: #ff7152;
$brand-successly: $brand-success;
//$brand-success: #50A6A5;
//$brand-success-2: #50A6A5;
//$brand-info: #289DD2;
$brand-info: #31708f;
//$brand-info: #276673;
$brand-warning: #FFD97D;
$brand-danger: #d31717;

$btn-success: $brand-success;
$btn-primary: $brand-primary;
//$btn-primary: $brand-info;
