// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//$brand-primary:         #27ae60;

$black: #000000;
$bgcolor: #202020;
$gray-base: #111111;
$gray-darker: #313131;
$gray-dark: #515151;
$gray: #7A7A7A;
$gray-light: #9A9A9A;
$gray-lighter: #B1B1B1;
$gray-lightest: #EAEAEA;

$brand-primary: $gray-light;
$brand-success: #75D277;
$brand-info: #289DD2;
$brand-warning: #FFD97D;
$brand-danger: #FF9B85;

$btn-success: $brand-success;
$btn-primary: rgba(1, 17, 27, 0.8);
